body {
    background-image: url(./images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
}

#Header{
    color: white;
    width: 100%;
    margin: 0px;
}

#Header div{
    display: inline-block;
}

#Logo{
    width: 30%;
}
#Logo h1{
    font-size: 9px;
    padding: 2px 0px 0px 4px;  
}

#Logo h1 span{
    font-weight: 100;
}

#Options {
    width: 69%;
}

#Options ul {
    display: inline-block;
    margin-left: 485px;
}

#Options ul li {
    display: inline-block;
    font-size: 18px;
    margin: 5px;
}

#border1{
    border: 1px solid white;
    border-radius: 15%;
    padding: 2px;
}

#BodyCenter{
    color: white;
    text-align: center;
}

#BodyCenter h2{
    font-size: 45px;
    margin-bottom: -4px;
    margin-top: 70px;
}

#BodyCenter p{
    font-size: 16px;
    font-weight: 100;
}

#BodyCenter ul li {
    display: inline-block;
    border: 1px solid white;
    margin-right: 18px;
    margin-top: 17px;
    border-radius: 7px;
    padding: 8px 50px;
    font-size: 13px;
    font-weight: 600;

}

.fa{
    font-weight: 900;
    margin-right: 5px;
}

#BodySign{
    background-color: white;
    color: gray;
}